
<%- include('../partials/header') %>

      <h3>New Cohort Form</h3>
      <form action="/cohort" method="post" enctype="multipart/form-data">
        <div class="form-group mt-3">
          <input class="form-control" type="file" name="picture" value="">
        </div>
        <div class="form-group">
          <label for="cohortsName">Name</label>
          <input type="text" name="cohortsName" class="form-control" id="cohortsName">
        </div>
        <div class="form-group">
          <label for="members">Members</label>
          <textarea name="members" class="form-control" rows="4" cols="80" id="members"></textarea>
        </div>
        <button type="submit" name="submit" value="submit" class="btn btn-outline-primary float-right">Submit</button>
      </form>


<%- include('../partials/footer') %>
