<%# provide(:title, "Forgot password") %>
<div class="container mt-3">
  <h5 class="mb-0">Forgot password? </h5>
  <p class="mb-3"><small>Please enter your email and press 'Reset Password'. Check your email box for further instructions, thank you.</small></p>

    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <div class="input-group mb-1">
        <%= f.label :email, class: "input-group-addon" %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <%= f.submit "Reset Password", class: "btn btn-outline-secondary btn-sm" %>
    <% end %>


</div>
