<%# provide(:title, "Forgot password") %>
<div class="container mt-3">
  <h4>Forgot password</h4>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.submit "Reset Password", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
  </div>

</div>
