<div class="container">
  <h3 class="mt-3">Reset Password:</h3>

  <p>Please enter your email address below and then click "Reset Password".</p>

  <%= form_tag password_resets_path do %>
    <%= text_field_tag :email %>
    <%= submit_tag "Reset Password" %>
  <% end %>
</div>
