

<div class="container-fluid p-3 h-100" style="background-color:#5e0231;">
  <div class="container w-50 p-4 mt-3 rounded" style="background-color:#dbc3d0; box-shadow: 2px 3px 10px black;">
    <h3 class="mt-3 maroon-t">New Post</h3>

    <%= render 'form' %>

  </div>
</div>
