<div class="container">
  <h3 class="mt-2">Search results: </h3>
  <% if @search_results %>
    <% @search_results.each do |post| %>
    <ul class="list-group mb-1">
      <%= link_to post.title, post_path(post), class: "list-group-item list-group-item-action list-group-item-dark" %>
    </ul>
    <% end %>
  <% end %>

</div>
