<div class="bg-01">

  <div class="jumbotron jumbotron-fluid p-3" style="opacity: 0.6">

    <div class="dropdown ml-5">
      <button class="btn btn-danger btn-sm dropdown-toggle" type="button" style="border:none; background-color:#856046;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        The 10 most recent posts
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% Post.recent_ten.each do |post| %>
        <%= link_to post.title, post_path(post), class: "dropdown-item" %>
        <% end %>
      </div>
    </div>

    <div class="container text-right">
      <h1 class="display-3">Welcome to Life+</h1>
      <p class="lead">This is a place to share your life with others.</p>
      <p class="p-0 m-0">
        <a href="https://www.facebook.com/" target="blank">
            <i class="fa fa-facebook-official fa-lg maroon-t"></i>
        </a>
        <a href="https://twitter.com/" target="blank">
          <i class="fa fa-twitter-square fa-lg maroon-t"></i>
        </a>
        <a href="https://github.com" target="blank">
          <i class="fa fa-github fa-lg maroon-t"></i>
        </a>
        <a href="https://slack.com/" target="blank">
          <i class="fa fa-slack fa-lg maroon-t"></i>
        </a>
      </p>
    </div>
  </div>

</div>
